

@media (max-width: 767px) {
  .container {
 
    display: flex;
    flex-direction: column;
    align-items: center;
  }


}

@media (max-width: 767px) {
 
    .heading {
   
        font-size: 14px;
  
  
  }

}



